body {
  /* nao esquecer que isto torna o default das calculations para 1 rem = 10 pixels */
  font-size: 62.5%;
  margin: 2.4em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 2.1rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/Rectangle_1.png);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;

  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
  overflow: hidden;
}

.logo {
  color: white;
  font-weight: bold;

  span {
    color: red;
  }
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  .close {
    float: right;
    margin: 2em;
    width: 3em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10em;

    a {
      color: black;
      padding: 0.75em 2em;
      display: block;
      width: 100%;
      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: black;

      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;

  /* podiamos ter posto tambem svg em vez da classe, mas melhor com a classe senão qual o sentido de criarmos uma class*/
  svg.menu {
    width: 3em;
    margin-top: -0.6em;
    cursor: pointer;
  }
}

h1 {
  font-size: 2.7rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.1rem;
}

section.hero {
  color: white;
  height: 90vh;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;

  .down-arrow {
    margin-top: 4em;
    stroke: white;
    position: absolute;
    bottom: 2em;
    width: 1em;
    animation: moveArrow 1s alternate-reverse infinite;

    path {
      fill: white;
    }
  }
}

section.more-info {
  img {
    width: 100%;
    object-fit: cover;
    height: 11em;
  }

  .title {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .description {
    line-height: 1.5rem;
  }
}

.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;

    svg.close {
      display: none;
    }

    ul {
      display: flex;
      margin: 0;

      a {
        color: white;
        padding: 0.5em 1.5em;
        font-size: 1.2rem;
      }

      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 60%;
    height: 55em;
  }

  .logo {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;

    span {
      -webkit-text-stroke-width: 0.1px;
    }
  }

  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 12em;

    svg.down-arrow {
      stroke: black;
      position: unset;

      path {
        fill: black;
      }
    }
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;

    img {
      width: 30em;
    }

    .content {
      text-align: right;
      width: 30em;
    }
  }

  .feature.reverse {
    grid-template-areas: "left";

    img {
      grid-area: left;
    }

    .content {
      text-align: left;
      width: 30em;
      justify-self: left;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .feature {
    gap: 0;
  }
}

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
