body {
    font: 1em/150% Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0 auto;
    max-width: 33em;
}

@media (min-width: 70em){
    body{
        font-size:130%;
    }
}


.special {
    color: red;
  }

  /* Several parameters for the padding start at the top then clockwise
  go into right, bottom, and left. so 20 for top, 20 for right, 20 down, and 5 left.*/
p{
    color:blueviolet;
    padding: 20px, 20px, 20px, 5px
}  

/* Several parameters for the background.*/
h1{
    color:blue;
    background: red 10px 10px repeat-x fixed;
    font-size: 1.5em;
}

.test{
    display: flexbox;
    
}

#secondTest{
    color:blueviolet;
}


.outer {
    border: 5px solid black;
  }
  
/* .box { This is for the bar with 90% filled and minus 30 pixels.
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
  } */

  .box { /* This is for the rectangle like fnac symbol lol*/
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
  }