* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  font-family: "inter", sans-serif;
}

.navBar {
  display: flex;
  background-color: #21222a;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 30px 25px;
  font-size: 22px;
}

.navBar > img {
  width: 35px;
  margin-right: 7px;
}

.navBar > h3 {
  color: #00d8ff;
  font-weight: 700;
  margin-right: auto;
}

.navBar > h4 {
  color: white;
  letter-spacing: 0.5px;
}
