* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282d35;
  font-family: Inter, sans-serif;
  height: 100%;
  width: 100%;
}

.container {
}

.navBar {
  display: flex;
  background-color: #21222a;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 30px 25px;
  font-size: 22px;
}

.navBar > img {
  width: 35px;
  margin-right: 7px;
}

.navBar > h3 {
  color: #00d8ff;
  font-weight: 700;
  margin-right: auto;
}

.navBar > h4 {
  color: white;
  letter-spacing: 0.5px;
}

.main-container {
  background-color: #282d35;
  padding: 57px 27;
  background-image: url("../src/img/react-half-logo.png");
  background-repeat: no-repeat;
  background-position: right bottom 50%;
}

.main-h1 {
  color: white;
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: -0.05em;
}

.main-ul {
  font-size: 1.5rem;
  color: white;
  margin-top: 46px;
}

.main-ul > li {
  line-height: 19px;
  padding-block: 10px;
  max-width: 600px;
}

.main-ul > li::marker {
  color: #00d8ff;
  margin-right: 7px;
  font-size: 1.4rem;
}
