* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  height: 100vh;
  border: 20px solid black;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.child1 {
  width: 200px;
  height: 200px;
  background: blue;
}

.child2 {
  width: 200px;
  height: 200px;
  background: red;
}

.child3 {
  width: 200px;
  height: 200px;
  background: violet;
}
